# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
outputs/logs/*

# Screenshots generated during testing
outputs/screenshots/*

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/